@import 'functions';
@import 'variables';

//Admin Area Styling

.image_radio_button_control .radio-button-label > input {
	display: none;
}
.image_radio_button_control .radio-button-label > input:checked + img {
	box-shadow: 0 0 0px 3px #2885bb;
}

.image_radio_button_control .radio-button-label > img {
	width: 22%;
	vertical-align: middle;
	margin-right: 3px;
	margin-bottom: 5px;
}

#customize-control-itre_header_bg_pos .choices {
    width: 70%;
    img {
        width: 30%;
    }
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (95px)) !important;
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  padding: 0;
  margin: 0;
}

.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #0085ba;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}

.range-slider__range::-webkit-slider-thumb:hover {
  background: #0085ba;
}

.range-slider__range:active::-webkit-slider-thumb {
  background: #0085ba;
}

.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #0085ba;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}

button.def-btn {
	border: 0;
	padding: 0;
	color: #555555;
	margin-left: 5px;
	cursor: pointer;
}

.range-slider__range::-moz-range-thumb:hover {
  background: #0085ba;
}

.range-slider__range:active::-moz-range-thumb {
  background: #0085ba;
}

.range-slider__value {
  display: inline-block;
  position: relative;
  width: 60px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background-color: #2d73ad;
  padding: 5px 10px;
  margin-left: 8px;
}

//Image Radio Control
#itre_meta {
	label.align-sidebar-label {
		display: inline-block;
		width: 45%;
		input {
			display: none;
		}
		input:checked + img {
			border: 3px solid #2885bb;
		}
	}
}

#itre_prop_meta {
    input:not([type="checkbox"]):not([type="radio"]), textarea {
		width: 100%;
    }
    .row {
		display: flex;
		flex-wrap: wrap;
        & > * {
            box-sizing: border-box;
            display: inline-block;
        }
    }
    .full-width {
        width: 100%;
    }
    .half-width {
        width: 100%;
        @media (min-width: 768px) {
            width: 50%;
        }
    }
	.quarter-width {
        width: 50%;
        @media (min-width: 768px) {
            width: 25%;
        }
    }
}

#itre-admin-theme-info {
    margin-right: 6rem;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;

    span {
        color: var(--accent);

		&.dashicons-star-filled {
			color: #fec11b;
		}
    }

    h2 {
        font-size: 1rem;

        @media (min-width: 48rem) {
            font-size: 1.5rem;
        }
    }
}
.itre-theme-demos {
    display: flex;
    flex-wrap: wrap;
    figure {
        position: relative;
        box-sizing:border-box;
		margin: 0;
        padding-bottom: 2.8em;
        img {
            width: 100%;
            border-radius: 10px;
            box-shadow: 0 4px 15px rgba(0,0,0,0.15);
        }
        @media (min-width: 768px) {
            width: 50%;
        }
        @media (min-width: 62rem) {
            width: 33.33%;
        }
        figcaption {
            font-size: 1.6em;
            text-align: center;
            padding-top: 0.25em;
            padding-bottom: 0.25em;
        }
    }
    .pro {
        &:before {
            content: "PRO";
            position: absolute;
            top: 10px;
            right: 25px;
            padding: 0.5em 0.75em;
            color: white;
            font-weight: 900;
            background: #239135;
            border-radius: 0.8em;
        }
    }
}

.customize-control-itre-link a {
	text-align: center;
	font-weight: 700;
	padding: 1em 0 !important;
}

table.compare {
    width: 100%;
    max-width: 60rem;
    border-collapse: collapse;
    font-size: 1.125rem;
    margin-bottom: 4rem;

    th, td {
        padding: 0.75rem 1.25rem;
        text-align: center;
    }

    tr:nth-child(even) {
        background-color: white;
    }

    tr:nth-child(odd) {
        background-color: #f5f5f5;
    }

    tr:first-child {
        background-color: #346d85;
        color: white;
    }
}

.theme-pro {

    &__content {
        width: auto;
    }

	figure {
		margin: 0;

		@media (min-width: 768px) {
			width: 33%;
		}

		img {
			width: 100%;
            border-radius: 10px;
            box-shadow: 0 4px 15px rgba(0,0,0,0.15);
		}
	}

	.upsell-links {
        margin-top: 0.6875rem;

        a {
            padding: 0.625rem 1.25rem;
            font-size: 1rem !important;
            border-radius: 4px;

            &.itre-pro-btn {
                
            }

            &:first-child {
                margin-right: 0.375rem;
            }
        }
	}
}

li#menu-appearance {

    ul {
        
        > li a[href="themes.php?page=itre_options"]{
            color: #3b9dc5;
            font-weight: 700;
            &:hover,
            &:active,
            &.current {
                color: #3b9dc5;
                background-color: rgba(0,0,0,0.2);
            }
        }
    }
}

#itre-admin-theme-info {
    margin-top: 2rem;

    h1 {
        border-bottom: solid 1px #aaaaaa;
        padding: 1rem;
    }
}

.itre-support-plugins-form {
    
    table {
        border-collapse: collapse;
    }

    th {
        min-width: 12.5rem;
        text-align: left;
    }

    td {
        width: 7.25rem;
        
        > * {
            float: right;
        }
    }

    tr {
        display: block;
        padding: 1.25rem;
        
        &:nth-child(even) {
            background-color: white;
        }

        &:nth-child(odd) {
            background-color: rgba(#2d73ad, 0.05);
        }
    }

    button.button-primary {
        display: flex;
        align-items: center;
    }
}

.itre-support-plugins {

    &__links {

        button,
        a {
            padding: 0.75rem 1.5rem;
            border: 0;
            border-radius: 0.125rem;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: 700;
            text-decoration: none;

            &:not(:last-child) {
                margin-right: 0.75rem;
            }
        }

        &--demos {
            background-color: var(--accent);
            color: white;

            &:hover,
            &:focus {
                color: white;
                background-color: var(--dark);
            }
        }
        
        &--nothanks {
            background-color: #dddddd;
            color: #666666;

            &:hover,
            &:focus {
                background-color: #cccccc;
            }
        }
    }
}

.loader {
    width: 1rem;
    height: 1rem;
    animation: svgRotate 2000ms linear infinite;
    margin-left: 0.5rem;
}

.sep {
    width: 100%;
    height: 1px;
    background-color: rgba(0,0,0,0.10);
    margin: 3rem 0;
    box-shadow: 0px 1px 0 rgba(255,255,255,0.75);
}

.activated {
    line-height: 1.75rem;
    display: flex;
    align-items: center;
    border: solid 1px transparent;

    &:before {
        content: "\f147";
        font-family: "Dashicons";
        color: #59ce15;
        margin-right: 0.5rem;
        font-size: 2rem;
        line-height: 0;
    }
}

@keyframes svgRotate {
    0% {
        @include transform(rotate(0deg));
    }

    100% {
        @include transform(rotate(-360deg));
    }
}