// Styling for Agents Section

#itre-agents, body.page-template-template-team #primary {
    .itre-agent-wrapper {
        margin-bottom: 1.6em;
        @media (min-width: 992px) {
            margin-bottom: 0;
        }
    }
    .itre-agent {
        border-radius: var(--border-radius);
        overflow: hidden;
        .itre-agent-info {
            padding: 0.4em 0.6em;
            background-color: #f5f5f5;
        }
        h3 {
            margin-top: 0.25em;
            margin-bottom: 0;
        }
        .agent-job {
            margin: 0;
            color: var(--accent);
        }
        .agent-desc {
            font-size: 0.85em;
            line-height: 1.5em;
            color: #aaaaaa;
        }
        .agent-social {
            margin: 0.75em auto;
            span {
                font-size: 1em;
            }
        }
    }
}

body.page-template-template-team {
    text-align: center;
    article {
        margin-bottom: 1.4em;
        .itre-agent {
            .agent-thumb
            {
                overflow: hidden;
                img {
                    filter:grayscale(1);
                    @include transition(all 300ms ease-in-out);
                }
            }
            &:hover {
                .agent-thumb img {
                    filter: grayscale(0);
                    @include transform(scale(1.05));
                }
            }
        }
    }
}
