//Import Section Modules

@import 'universal';
@import 'header';
@import 'navigation';
@import 'widgets';
@import 'single';
@import 'comments';
@import 'footer';
@import 'filter';
@import 'property';
@import 'featured.types';
@import 'featured.property';
@import 'featured.locations';
@import 'agents';
@import 'testimonials';
@import 'contact.form';
@import 'pagination';
