// Styling for Pagination

.itre-pagination .nav-links {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.25rem;
    margin-top: 3rem;
    margin-bottom: 3rem;

    > * {
        display: flex;
        align-items: center;
        
        &:not(:last-child) {
            margin-right: 1.25rem;
        }
    }

    a.page-numbers:not(.next):not(.prev) {
        background-color: var(--accent);
        overflow: hidden;
        border-radius: 0.25rem;

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            width: 2.75rem;
            height: 2.75rem;
        }

        &:hover {
            filter: brightness(110%);
        }
    }
}