// Styling of Single Post Pages

body.single {

    #content {
        // padding-right: 0.9375rem;
        // padding-left: 0.9375rem;

        // @media (min-width: 64rem) {
        //     display: flex;
        //     justify-content: space-between;
        // }

        // @media (min-width: 48rem) {

        //     > *:first-child {
        //         margin-left: -0.9375rem;
        //     }
    
        //     > *:last-child {
        //         margin-right: -0.9375rem;
        //     }
        // }
    }

    #primary {
        width: 100%;
    }
    
    .entry-content {

        a {
            @extend %underline;
        }
    }
    .post-navigation {
        line-height: 1.5em;
        .nav-subtitle {
            color: var(--link);
        }
        position: relative;
    }
    #itre_related_posts_wrapper {
        h3 {
            margin-top: 0.2em;
            font-size: 1.4rem;
            a {
                color: black;
                @include line-clamp(2);
            }
        }
        .entry-meta {
            > * {
                display: inline-block;
                width: auto;
            }
        }
    }
    #author_box {
        border-top: solid 1px black;
        padding-top: 1rem;
        margin-bottom: 1em;
        .author_bio {
            line-height: 1.2rem;
        }
        img {
            display: inline-block;
            border-radius: 50%;
        }
	}
}
