// Widgets Styling

/**
 *	Styling for the widget section of the theme
 */

.widget {
	.widget-area & {
		margin-bottom: 2rem;
	}

	a {
		text-decoration: underline;
	}

	.widget-title {
		position: relative;
		margin-top: 0;
		margin-bottom: .625rem;
		padding-bottom: 0.4375rem;
		font-size: 1.5rem;
		#itng-before-content & {
			text-align: center;
		}
		&:before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			height: 4px;
			width: 40px;
			background-color: var(--accent);
			@media (max-width: 767px) {
				left: calc(50% - 40px);
			}
		}
		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			height: 4px;
			left: 40px;
			width: 40px;
			background-color: #ddd;
			@media (max-width: 767px) {
				left: 50%;
			}
		}
	}

	&.wp-block {

		footer {
			line-height: 1.5rem;
		}
	}

	&.widget_search {
		position: relative;

		label {
			margin: 0;
			width: 100%;
		}

		input[type="search"] {
			border: rgba(0,0,0,0.1);
			width: 100%;
			padding: .3125rem .5rem;
		}

		input[type="submit"] {
			display: none;
		}

		.wp-block-search__inside-wrapper {
			
			input[type="search"] {
				background-color: #f5f5f5;
			}
		}
	}

	ul, ol {
		margin-left: 0;
		padding-left: 0;
		list-style: none;
		@extend %heading-font;
		li {
			position: relative;
			a {
				color: var(--accent);
				@include transition(color 100ms $standard);
				&:hover {
					text-decoration: underline;
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
