:root {
  --title-font: "League Spartan", sans-serif;
  --body-font: "League Spartan", sans-serif;
  --title-weight: 700;
  --body-weight: 400;
  --border-radius: 10px;
  --body-text: black;
  --excerpt: #999999;
  --accent: #2e6d87;
  --dark: #08445d;
  --masthead-bg: white;
  --link: #999999;
  --link-hvr: #555555;
  --nav-bg: #2e6d87;
  --subnav-link: white;
  --footer-bg: #08445d;
  --footer-link: white;
  --footer-text: white;
}

.image_radio_button_control .radio-button-label > input {
  display: none;
}

.image_radio_button_control .radio-button-label > input:checked + img {
  box-shadow: 0 0 0px 3px #2885bb;
}

.image_radio_button_control .radio-button-label > img {
  width: 22%;
  vertical-align: middle;
  margin-right: 3px;
  margin-bottom: 5px;
}

#customize-control-itre_header_bg_pos .choices {
  width: 70%;
}
#customize-control-itre_header_bg_pos .choices img {
  width: 30%;
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - 95px) !important;
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  padding: 0;
  margin: 0;
}

.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #0085ba;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}

.range-slider__range::-webkit-slider-thumb:hover {
  background: #0085ba;
}

.range-slider__range:active::-webkit-slider-thumb {
  background: #0085ba;
}

.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #0085ba;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}

button.def-btn {
  border: 0;
  padding: 0;
  color: #555555;
  margin-left: 5px;
  cursor: pointer;
}

.range-slider__range::-moz-range-thumb:hover {
  background: #0085ba;
}

.range-slider__range:active::-moz-range-thumb {
  background: #0085ba;
}

.range-slider__value {
  display: inline-block;
  position: relative;
  width: 60px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background-color: #2d73ad;
  padding: 5px 10px;
  margin-left: 8px;
}

#itre_meta label.align-sidebar-label {
  display: inline-block;
  width: 45%;
}
#itre_meta label.align-sidebar-label input {
  display: none;
}
#itre_meta label.align-sidebar-label input:checked + img {
  border: 3px solid #2885bb;
}

#itre_prop_meta input:not([type=checkbox]):not([type=radio]), #itre_prop_meta textarea {
  width: 100%;
}
#itre_prop_meta .row {
  display: flex;
  flex-wrap: wrap;
}
#itre_prop_meta .row > * {
  box-sizing: border-box;
  padding-left: 0.9375rem;
  padding-left: 0.9375rem;
}
#itre_prop_meta .full-width {
  width: 100%;
}
#itre_prop_meta .half-width {
  width: 100%;
}
@media (min-width: 768px) {
  #itre_prop_meta .half-width {
    width: 50%;
  }
}
#itre_prop_meta .quarter-width {
  width: 50%;
}
@media (min-width: 768px) {
  #itre_prop_meta .quarter-width {
    width: 25%;
  }
}
#itre_prop_meta .address {
  display: grid;
  gap: 1rem;
}
@media (min-width: 48rem) {
  #itre_prop_meta .address {
    grid-template-columns: 1fr 1fr;
  }
}
#itre_prop_meta .address select {
  width: 100%;
}

#itre-admin-theme-info {
  margin-right: 6rem;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
}
#itre-admin-theme-info span {
  color: var(--accent);
}
#itre-admin-theme-info span.dashicons-star-filled {
  color: #fec11b;
}
#itre-admin-theme-info h2 {
  font-size: 1rem;
  position: relative;
  padding-bottom: 0.75rem;
}
@media (min-width: 48rem) {
  #itre-admin-theme-info h2 {
    font-size: 1.5rem;
  }
}

.itre-theme-demos {
  display: flex;
  flex-wrap: wrap;
}
.itre-theme-demos figure {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding-bottom: 2.8em;
}
.itre-theme-demos figure img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}
@media (min-width: 768px) {
  .itre-theme-demos figure {
    width: 50%;
  }
}
@media (min-width: 62rem) {
  .itre-theme-demos figure {
    width: 33.33%;
  }
}
.itre-theme-demos figure figcaption {
  font-size: 1.6em;
  text-align: center;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
.itre-theme-demos .pro:before {
  content: "PRO";
  position: absolute;
  top: 10px;
  right: 25px;
  padding: 0.5em 0.75em;
  color: white;
  font-weight: 900;
  background: #239135;
  border-radius: 0.8em;
}

.customize-control-itre-link a {
  text-align: center;
  font-weight: 700;
  padding: 1em 0 !important;
}

@media (min-width: 48rem) {
  .itre-support {
    display: flex;
    align-items: center;
  }
  .itre-support img {
    max-width: 6.25rem;
  }
}
.itre-support__content {
  font-size: 1.25rem;
}

table.compare {
  width: 100%;
  max-width: 60rem;
  border-collapse: collapse;
  font-size: 1.25rem;
  margin-bottom: 4rem;
}
table.compare th, table.compare td {
  text-align: center;
}
table.compare th {
  padding: 0.75rem 1.25rem;
}
table.compare td {
  padding: 1.5rem 1.25rem;
}
table.compare tr:nth-child(even) {
  background-color: white;
}
table.compare tr:nth-child(odd) {
  background-color: #f5f5f5;
}
table.compare tr:first-child {
  background-color: #346d85;
  color: white;
}

.theme-pro__content {
  width: auto;
}
.theme-pro figure {
  margin: 0;
}
@media (min-width: 768px) {
  .theme-pro figure {
    width: 33%;
  }
}
.theme-pro figure img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}
.theme-pro .upsell-links {
  margin-top: 0.6875rem;
}
.theme-pro .upsell-links a:first-child {
  margin-right: 0.375rem;
}

li#menu-appearance ul > li a[href="themes.php?page=itre_options"] {
  color: #3b9dc5;
  font-weight: 700;
}
li#menu-appearance ul > li a[href="themes.php?page=itre_options"]:hover, li#menu-appearance ul > li a[href="themes.php?page=itre_options"]:active, li#menu-appearance ul > li a[href="themes.php?page=itre_options"].current {
  color: #3b9dc5;
  background-color: rgba(0, 0, 0, 0.2);
}

#itre-admin-theme-info {
  margin-top: 2rem;
  font-family: var(--title-font);
  background-color: white;
  padding: 1rem 1.5rem;
}
#itre-admin-theme-info h1 {
  border-bottom: solid 1px #aaaaaa;
  padding: 0.5rem 1.5rem;
  font-size: 2.5rem;
}
#itre-admin-theme-info h1,
#itre-admin-theme-info h2 {
  font-family: var(--title-font);
}
#itre-admin-theme-info p,
#itre-admin-theme-info a,
#itre-admin-theme-info ul,
#itre-admin-theme-info button {
  font-size: 1.25rem;
}
#itre-admin-theme-info ul {
  list-style: disc;
  margin-left: 2rem;
}
#itre-admin-theme-info ul li::marker {
  color: var(--accent);
}

.itre-support-plugins-form table {
  border-collapse: collapse;
}
.itre-support-plugins-form th {
  min-width: 12.5rem;
  text-align: left;
}
.itre-support-plugins-form td {
  width: 7.25rem;
}
.itre-support-plugins-form td > * {
  float: right;
}
.itre-support-plugins-form tr {
  display: block;
  padding: 0.5rem 0;
  margin: -1px 0;
}
.itre-support-plugins-form button.button-primary {
  display: flex;
  align-items: center;
}

.itre-support-plugins__links {
  display: flex;
  justify-content: flex-start;
  column-gap: 0.75rem;
}

.loader {
  width: 1rem;
  height: 1rem;
  animation: svgRotate 2000ms linear infinite;
  margin-left: 0.5rem;
}

.sep {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 3rem 0;
  box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.75);
}

.activated {
  line-height: 1.75rem;
  display: flex;
  align-items: center;
  border: solid 1px transparent;
}
.activated:before {
  content: "\f147";
  font-family: "Dashicons";
  color: #59ce15;
  margin-right: 0.5rem;
  font-size: 2rem;
  line-height: 0;
}

.itre-notice {
  padding-bottom: 1.25rem;
}
.itre-notice h2 {
  font-size: 2rem;
}
.itre-notice h3 {
  font-weight: 400;
}

@keyframes svgRotate {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
  }
}

/*# sourceMappingURL=admin.css.map */
