.is-style-widget-title {
  position: relative;
  margin-top: 0;
  margin-bottom: 0.6em;
  padding-bottom: 0.4em;
  font-size: 1.5rem;
}
.is-style-widget-title:before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 4px;
  width: 40px;
  background-color: var(--accent);
}
.is-style-widget-title:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 4px;
  left: 40px;
  width: 40px;
  background-color: #ddd;
}

.is-style-prop-table th, .is-style-prop-table td {
  padding: 0.25em 0.6em;
}
.is-style-prop-table table thead {
  background-color: var(--accent);
  color: var(--footer-text);
}
.is-style-prop-table table tbody tr:nth-child(2n+1) {
  background-color: #f5f5f5;
}
.is-style-prop-table table tfoot td {
  padding: 0.5em 0.6em;
}
