:root {
  --title-font: "League Spartan", sans-serif;
  --body-font: "League Spartan", sans-serif;
  --title-weight: 700;
  --body-weight: 400;
  --border-radius: 10px;
  --body-text: #000000;
  --excerpt: #999999;
  --accent: #2e6d87;
  --dark: #08445d;
  --masthead-bg: white;
  --link: #999999;
  --link-hvr: #555555;
  --nav-bg: #2e6d87;
  --nav-link: #2e6d87;
  --subnav-link: white;
  --footer-bg: #08445d;
  --footer-link: white;
  --footer-text: white;
}

.main-navigation, .widget ul, .widget ol, #respond label {
  font-family: var(--title-font);
}

body, body:not(.single-property) article.type-property .listing-wrapper h2, article.type-post[class^=col-] h2, article.type-page[class^=col-] h2 {
  font-weight: var(--body-weight);
}

button,
input[type=button],
input[type=reset],
input[type=submit], #itre-front-blog .itre-front-blog-cta a, .itre-cta, body:not(.home) #masthead .site-title a, #menu ul li.menu-item-has-children span.dropdown-arrow i, #respond input[type=submit], #comments .comment .reply a, #itre-featured-property .itre-feat-prop-info .feat-prop-link a, .wpcf7 input[type=submit], .itre-pagination a, article.type-post[class^=col-] .itre-read-more a, article.type-page[class^=col-] .itre-read-more a, article.list .itre-read-more a {
  font-weight: var(--title-weight);
}

html {
  font-size: 16px;
}

body {
  font-family: var(--body-font);
  font-size: 1.125rem;
  -webkit-font-smoothing: antialiased;
  color: var(--body-text);
}

/* Links
--------------------------------------------- */
a {
  color: var(--accent);
  text-decoration: none;
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.entry-content a {
  text-decoration: underline;
}

a:visited {
  text-decoration: underline;
}

a:hover,
a:active {
  outline: 0;
}

article.list .itre-read-more a, .wpcf7 input[type=submit], #comments .comment .reply a, #respond input[type=submit], .itre-cta, #itre-front-blog .itre-front-blog-cta a {
  display: inline-block;
  background-color: var(--accent);
  padding: 0.8rem 1rem 0.65rem;
  text-transform: uppercase;
  line-height: 1;
  color: white;
  border-radius: 5px;
}
article.list .itre-read-more a:hover, .wpcf7 input[type=submit]:hover, #comments .comment .reply a:hover, #respond input[type=submit]:hover, .itre-cta:hover, #itre-front-blog .itre-front-blog-cta a:hover, article.list .itre-read-more a:focus, .wpcf7 input[type=submit]:focus, #comments .comment .reply a:focus, #respond input[type=submit]:focus, .itre-cta:focus, #itre-front-blog .itre-front-blog-cta a:focus {
  outline: none;
  transform: scale(1.07);
  -webkit-transform: scale(1.07);
  -moz-transform: scale(1.07);
  -ms-transform: scale(1.07);
  -o-transform: scale(1.07);
}

#comments a.url, #comments p a, body.single .entry-content a {
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
#comments a.url:hover, #comments p a:hover, body.single .entry-content a:hover {
  text-decoration: underline;
}

/* Forms
--------------------------------------------- */
button,
input[type=button],
input[type=reset],
input[type=submit] {
  border: 0;
  border-radius: 0;
  background-color: var(--dark);
  color: white;
  padding: 0.4em 1em 0.25em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: all 150ms ease-out;
  -webkit-transition: all 150ms ease-out;
  -moz-transition: all 150ms ease-out;
  -ms-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
}

button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
  transform: scale(1.07);
  -webkit-transform: scale(1.07);
  -moz-transform: scale(1.07);
  -ms-transform: scale(1.07);
  -o-transform: scale(1.07);
}

button:active,
button:focus,
input[type=button]:active,
input[type=button]:focus,
input[type=reset]:active,
input[type=reset]:focus,
input[type=submit]:active,
input[type=submit]:focus {
  transform: scale(1.07);
  -webkit-transform: scale(1.07);
  -moz-transform: scale(1.07);
  -ms-transform: scale(1.07);
  -o-transform: scale(1.07);
  outline: none;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=search],
input[type=number],
input[type=tel],
input[type=range],
input[type=date],
input[type=month],
input[type=week],
input[type=time],
input[type=datetime],
input[type=datetime-local],
input[type=color],
select,
textarea {
  color: #666;
  border-radius: 0px;
  padding: 0.7em;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=number]:focus,
input[type=tel]:focus,
input[type=range]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=week]:focus,
input[type=time]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=color]:focus,
textarea:focus {
  color: #111;
}

textarea {
  width: 100%;
}

.section {
  margin-bottom: 4em;
}

.section-title {
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 0;
}

.section-sub {
  text-align: center;
  color: #999999;
  width: 100%;
  margin: 0 auto;
  line-height: 1.5em;
}
@media (min-width: 992px) {
  .section-sub {
    width: 65%;
  }
}

.section-top {
  margin-bottom: 1.2em;
}

#content {
  position: relative;
  z-index: 1;
}
#content body:not(.page-template-template-property-front) {
  padding-top: 2em;
}
#content body:not(.page-template-template-property-front).box {
  background-color: white;
}

header.page-header {
  text-align: center;
}

#itre-front-blog .itre-front-blog-cta {
  text-align: center;
}
#itre-back-to-top {
  position: fixed;
  justify-content: center;
  align-items: center;
  right: 3em;
  bottom: 3em;
  z-index: 9;
  color: var(--accent);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: var(--border-radius);
  cursor: pointer;
  opacity: 0;
}
#itre-back-to-top i {
  padding: 1em 1.25em 1.2em;
}
#itre-back-to-top.show {
  display: flex;
  animation: backToTop 300ms forwards;
}

.no-scroll {
  overflow-y: hidden;
}

.is-visible {
  display: block !important;
}

#masthead {
  background-color: white;
  margin-bottom: 2em;
}
#masthead > * {
  position: relative;
  padding-top: 0.65em;
  padding-bottom: 0.65em;
}
#masthead .site-title, #masthead .site-description {
  margin-bottom: 0;
}
body:not(.home) #masthead .site-title a {
  font-size: 2.5rem;
  line-height: 1;
}

#header-image {
  position: relative;
  height: 250px;
}
#header-image:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.itre-hero-area {
  position: relative;
  max-width: 80%;
  margin: auto;
  text-align: center;
  top: 40%;
  z-index: 2;
  color: white;
}
.itre-hero-area h1 {
  font-size: 2.4em;
}
@media (min-width: 768px) {
  .itre-hero-area h1 {
    font-size: 4em;
  }
}
.itre-hero-area p {
  font-size: 1.2em;
}

.nav-wrapper {
  display: none;
}
@media (min-width: 1024px) {
  .nav-wrapper {
    display: block;
  }
}

.main-navigation {
  width: auto;
}
.main-navigation a {
  color: var(--accent);
  padding: 0.5em 1em;
}
@media (min-width: 992px) {
  .main-navigation ul#primary-menu > li {
    margin: 0;
    float: left;
  }
  .main-navigation ul#primary-menu > li.menu-item-has-children > a:after, .main-navigation ul#primary-menu > li.page_item_has_children > a:after {
    position: relative;
    content: "\f107";
    font-family: "FontAwesome";
    padding-left: 10px;
    line-height: 1;
  }
  .main-navigation ul#primary-menu > li:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .main-navigation ul#primary-menu ul {
    flex-direction: column;
    opacity: 0;
    text-transform: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: var(--accent);
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0, 0, 0.2, 1);
    -webkit-transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0, 0, 0.2, 1);
    -moz-transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0, 0, 0.2, 1);
    -ms-transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0, 0, 0.2, 1);
    -o-transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0, 0, 0.2, 1);
    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0, 0, 0.2, 1);
    -webkit-transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0, 0, 0.2, 1);
    -moz-transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0, 0, 0.2, 1);
    -ms-transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0, 0, 0.2, 1);
    -o-transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0, 0, 0.2, 1);
    font-weight: 400;
  }
  .main-navigation ul#primary-menu ul a {
    color: var(--subnav-link);
  }
  .main-navigation ul#primary-menu ul a:hover {
    background-color: rgba(255, 255, 255, 0.05);
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }
  .main-navigation ul#primary-menu ul li {
    float: none;
    display: block;
    position: relative;
    margin: 0;
  }
  .main-navigation ul#primary-menu ul li.menu-item-has-children > a:after, .main-navigation ul#primary-menu ul li.page_item_has_children > a:after {
    position: relative;
    content: "\f105";
    font-family: "FontAwesome";
    float: right;
  }
  .main-navigation ul#primary-menu ul li:hover > ul, .main-navigation ul#primary-menu ul li:focus-within > ul {
    left: 100%;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
  .main-navigation ul#primary-menu li:hover > ul, .main-navigation ul#primary-menu li:focus-within > ul {
    opacity: 1;
    left: auto;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}

@media (max-width: 1023px) {
  .itre-cta-wrapper .itre-cta:not(.cta-nav) {
    display: none;
  }
}
button.mobile-nav-btn {
  padding: 0;
  border: 0;
  background-color: transparent;
}
button.mobile-nav-btn svg {
  width: 32px;
  height: 32px;
}
@media (min-width: 1024px) {
  button.mobile-nav-btn {
    display: none;
  }
}

button#close-menu {
  background-color: transparent;
  border: 0;
  padding: 0;
  height: 40px;
  width: 40px;
  margin: 16px 0 0 16px;
  color: white;
  background-color: var(--accent);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
button#close-menu:hover, button#close-menu:focus {
  outline: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#menu {
  position: fixed;
  top: 0;
  width: 60%;
  height: 100%;
  right: 0;
  z-index: 999;
  text-align: left;
  overflow-y: auto;
  background-color: var(--dark);
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transition: transform 300ms ease-out;
  -webkit-transition: transform 300ms ease-out;
  -moz-transition: transform 300ms ease-out;
  -ms-transition: transform 300ms ease-out;
  -o-transition: transform 300ms ease-out;
}
#menu .itre-cta {
  position: relative;
  margin: 15px;
}
#menu .itre-cta:hover, #menu .itre-cta:focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
#menu .go-to-top {
  background: none;
  float: left;
  border: 0;
}
#menu .go-to-top i {
  color: white;
}
#menu .go-to-bottom {
  background: none;
  float: right;
  border: 0;
}
#menu .go-to-bottom i {
  color: white;
}
#menu ul {
  margin-left: 0px;
  padding: 0px;
  width: 100%;
}
#menu ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}
#menu ul li:before {
  display: none;
}
#menu ul li a {
  display: block;
  color: white;
  padding: 0.5em 0.8em;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#menu ul li.menu-item-has-children {
  display: block;
}
#menu ul li.menu-item-has-children span.dropdown-arrow {
  position: absolute;
  height: 44px;
  width: 44px;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: var(--accent);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  cursor: pointer;
}
#menu ul li.menu-item-has-children span.dropdown-arrow i {
  margin: auto;
  color: white;
  font-size: 20px;
}
#menu ul li.menu-item-has-children ul {
  display: none;
  background: rgba(255, 255, 255, 0.05);
}
#menu.expanded {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
}
.admin-bar #menu {
  margin-top: 46px;
}

/**
 *	Styling for the widget section of the theme
 */
.widget-area .widget {
  margin-bottom: 2em;
}
.widget a {
  text-decoration: underline;
}
.widget .widget-title {
  position: relative;
  margin-top: 0;
  margin-bottom: 0.6em;
  padding-bottom: 0.4em;
  font-size: 1.5rem;
}
#itng-before-content .widget .widget-title {
  text-align: center;
}
.widget .widget-title:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 40px;
  background-color: var(--accent);
}
@media (max-width: 767px) {
  .widget .widget-title:before {
    left: calc(50% - 40px);
  }
}
.widget .widget-title:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 4px;
  left: 40px;
  width: 40px;
  background-color: #ddd;
}
@media (max-width: 767px) {
  .widget .widget-title:after {
    left: 50%;
  }
}
.widget.widget_search {
  position: relative;
}
.widget.widget_search label {
  margin: 0;
  width: 100%;
}
.widget.widget_search input[type=search] {
  border: rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 0.3em 0.5em;
}
.widget.widget_search input[type=submit] {
  display: none;
}
.widget.widget_search .wp-block-search__inside-wrapper {
  border: solid 4px #eee;
}
.widget.widget_search .wp-block-search__inside-wrapper button.wp-block-search__button {
  background: none;
  border: 0;
  padding: 0;
}
.widget.widget_search .wp-block-search__inside-wrapper button.wp-block-search__button svg {
  height: 32px;
  width: 32px;
}
.widget ul, .widget ol {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}
.widget ul li, .widget ol li {
  position: relative;
}
.widget ul li a, .widget ol li a {
  color: var(--accent);
  transition: color 100ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: color 100ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: color 100ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: color 100ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 100ms cubic-bezier(0.4, 0, 0.2, 1);
}
.widget ul li a:hover, .widget ol li a:hover {
  text-decoration: underline;
}
.widget ul li:last-child, .widget ol li:last-child {
  margin-bottom: 0;
}

body.single .post-navigation {
  line-height: 1.5em;
  position: relative;
}
body.single .post-navigation .nav-subtitle {
  color: var(--link);
}
body.single #itre_related_posts_wrapper h3 {
  margin-top: 0.2em;
  font-size: 1.4rem;
}
body.single #itre_related_posts_wrapper h3 a {
  color: black;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
body.single #itre_related_posts_wrapper .entry-meta > * {
  display: inline-block;
  width: auto;
}
body.single #author_box {
  background-color: #f5f5f5;
  padding: 1em;
  margin-bottom: 1em;
}
body.single #author_box .author_bio {
  line-height: 1.2rem;
}
body.single #author_box img {
  width: calc(100% - 15px);
  display: inline-block;
  border-radius: var(--border-radius);
}

/**
 *	Styling for the comment section of the theme
 */
#respond label {
  display: inline;
}
#respond textarea {
  padding: 0.5em;
  background-color: #f5f5f5;
  border-radius: var(--border-radius);
}
#respond input[type=submit] {
  background-color: var(--dark);
}

#comments {
  margin-top: 2em;
}
#comments .comments-title {
  margin-bottom: 1em;
}
#comments .comment-list {
  padding-left: 0;
}
#comments .comment-list, #comments ul.children {
  margin: 0;
  list-style: none;
}
#comments ol.comment-list {
  overflow: hidden;
}
#comments .comment-body {
  margin-bottom: 0.8em;
  padding-right: 1em;
}
#comments .comment-body a {
  text-decoration: underline;
}
#comments ul.children {
  padding-left: 0em;
}
#comments .comment {
  border: solid 1px #eee;
  border-radius: var(--border-radius);
  padding: 1em 0.3em 1em 1em;
  margin-bottom: 1em;
}
#comments .comment .vcard {
  margin-right: 0.75em;
}
#comments .comment .vcard a {
  color: var(--accent);
}
#comments .comment .vcard img {
  border-radius: 50%;
  margin-right: 0.75em;
}
#comments .comment .comment-meta a {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.75em;
  letter-spacing: 0.05em;
  margin-right: 0.75em;
}
#footer-sidebar {
  background-color: var(--dark);
  padding-top: 3em;
  color: white;
}
#footer-sidebar a {
  color: white;
  text-decoration: underline;
}
#footer-sidebar caption {
  color: white;
}
@media (max-width: 767px) {
  #footer-sidebar {
    text-align: center;
  }
}

#colophon {
  background-color: var(--dark);
  color: white;
}
#colophon a {
  color: white;
  text-decoration: underline;
}

.itre-property-filter {
  position: relative;
  background-color: var(--accent);
  border-radius: var(--border-radius);
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  margin-top: -3.35em;
  margin-bottom: 2em;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
  .itre-property-filter {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}
.itre-property-filter select, .itre-property-filter input, .itre-property-filter button {
  height: 100%;
  width: 100%;
  border: 0;
  border-radius: 3px;
}
.itre-property-filter select {
  background-color: white;
}
@media (max-width: 767px) {
  .itre-property-filter button {
    margin-top: 4px;
  }
}
.itre-property-filter .form-control-wrapper {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

body:not(.single-property) article.type-property {
  margin-bottom: 1.6em;
}
body:not(.single-property) article.type-property .listing-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: var(--border-radius);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: white;
  overflow: hidden;
}
body:not(.single-property) article.type-property .listing-wrapper .itre-for-tag {
  position: absolute;
  color: white;
  line-height: 1;
  padding: 0.6em 0.8em 0.4em;
  text-transform: uppercase;
  font-size: 0.85em;
  left: 1.2em;
  top: 0em;
}
body:not(.single-property) article.type-property .listing-wrapper .itre-for-tag.sale {
  background-color: rgba(121, 217, 18, 0.8);
}
body:not(.single-property) article.type-property .listing-wrapper .itre-for-tag.rent {
  background-color: rgba(228, 171, 48, 0.8);
}
body:not(.single-property) article.type-property .listing-wrapper .itre-prop-thumb {
  position: relative;
}
body:not(.single-property) article.type-property .listing-wrapper .itre-prop-thumb .prop-price {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  background-color: var(--accent);
  font-weight: var(--bold);
  font-size: 1.2em;
  padding: 0.4em 0.75em 0.3em;
  opacity: 0.85;
}
body:not(.single-property) article.type-property .listing-wrapper > *:not(.itre-prop-thumb) {
  padding: 0 15px;
  line-height: 1.2;
}
body:not(.single-property) article.type-property .listing-wrapper h2 {
  margin: 0.4em auto 0.24em;
  font-size: 1.5em;
}
body:not(.single-property) article.type-property .listing-wrapper a {
  color: black;
}
body:not(.single-property) article.type-property .listing-wrapper .itre_address {
  color: #555555;
  padding-bottom: 0.8em;
}
body:not(.single-property) article.type-property .listing-wrapper .itre_features {
  margin-top: auto;
  border-top: solid 1px #eeeeee;
  padding-top: 0.6em;
  padding-bottom: 0.8em;
}
body:not(.single-property) article.type-property .listing-wrapper .itre_features i {
  color: var(--accent);
}
body:not(.single-property) article.type-property .listing-wrapper .itre_features > span {
  margin-right: 0.6em;
}
body:not(.single-property) article.type-property .listing-wrapper .itre_features > span span {
  margin: auto 0.25em;
}

body.single-property .post-thumbnail img {
  border-radius: var(--border-radius);
}
body.single-property .itre-for-tag {
  color: white;
  line-height: 1;
  padding: 0.6em 0.8em 0.4em;
  text-transform: uppercase;
  font-size: 0.85em;
}
body.single-property .itre-for-tag.sale {
  background-color: rgba(121, 217, 18, 0.8);
}
body.single-property .itre-for-tag.rent {
  background-color: rgba(228, 171, 48, 0.8);
}
body.single-property .entry-meta {
  color: var(--link);
}
body.single-property .entry-meta i {
  color: var(--accent);
}
body.single-property .entry-meta a {
  text-decoration: underline;
}
body.single-property #property-map {
  height: 500px;
  width: 100%;
}

#itre-featured-types .section-sub {
  margin: 0;
}
#itre-featured-types .itre-prop-type-wrapper {
  margin-bottom: 1.6em;
  text-align: center;
}
@media (min-width: 992px) {
  #itre-featured-types .itre-prop-type-wrapper {
    margin-bottom: 0;
  }
}
#itre-featured-types .itre-prop-type-item {
  position: relative;
  display: inline-block;
}
#itre-featured-types img {
  border-radius: var(--border-radius);
}
#itre-featured-types h3 {
  position: absolute;
  bottom: 2em;
  left: -10px;
  color: white;
  background-color: var(--accent);
  padding: 0.2em 0.35em;
}
#itre-featured-types h3:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  border-top: solid 5px var(--dark);
  border-left: solid 5px transparent;
  border-bottom: solid 5px transparent;
  border-right: solid 5px var(--dark);
}

#itre-featured-property {
  display: flex;
  align-items: flex-end;
  position: relative;
  height: 500px;
}
#itre-featured-property img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}
#itre-featured-property .feat-prop-info-wrapper {
  width: 100%;
}
#itre-featured-property .itre-feat-prop-info {
  background-color: white;
  padding: 2em;
  border-radius: 10px 10px 0 0;
}
#itre-featured-property .itre-feat-prop-info .feat-prop-price {
  color: var(--accent);
}
#itre-featured-property .itre-feat-prop-info .itre-prop-excerpt {
  color: #555555;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
#itre-featured-property .itre-feat-prop-info .feat-prop-link a {
  margin-top: 0.4em;
  display: inline-block;
  text-transform: uppercase;
}
#itre-featured-property .itre-feat-prop-info .feat-prop-link a:after {
  content: "\f178";
  font-family: "FontAwesome";
  margin-left: 8px;
}
#itre-featured-property .itre-feat-prop-info .itre_prop_features {
  padding: 0.4em 0;
}
#itre-featured-property .itre-feat-prop-info .itre_prop_features i {
  color: var(--accent);
}
#itre-featured-property .itre-feat-prop-info .itre_prop_features > span {
  margin-right: 0.6em;
}
#itre-featured-property .itre-feat-prop-info .itre_prop_features > span span {
  margin: auto 0.25em;
}

@media (max-width: 767px) {
  #itre-featured-locations .feat-locations-wrapper .itre-location-wrapper:nth-child(2n+1) .itre-location-item .row {
    flex-direction: row-reverse;
  }
}
@media (min-width: 768px) {
  #itre-featured-locations .feat-locations-wrapper .itre-location-wrapper:nth-child(-n+2) .itre-location-item .row {
    flex-direction: row-reverse;
  }
  #itre-featured-locations .feat-locations-wrapper .itre-location-wrapper:nth-child(-n+2) h3 {
    position: relative;
  }
  #itre-featured-locations .feat-locations-wrapper .itre-location-wrapper:nth-child(-n+2) h3:before {
    content: "";
    position: absolute;
    left: -20px;
    top: 25%;
    border-right: solid 10px var(--accent);
    border-left: solid 10px transparent;
    border-top: solid 10px transparent;
    border-bottom: solid 10px transparent;
  }
}
#itre-featured-locations .feat-locations-wrapper {
  border-radius: var(--border-radius);
  overflow: hidden;
}
#itre-featured-locations .feat-locations-wrapper .itre-location-wrapper h3 {
  padding: 0 0.8em;
  position: relative;
}
@media (max-width: 767px) {
  #itre-featured-locations .feat-locations-wrapper .itre-location-wrapper h3 {
    font-size: 0.9em;
  }
}
#itre-featured-locations .feat-locations-wrapper .itre-location-wrapper h3 a {
  color: white;
}
@media (max-width: 767px) {
  #itre-featured-locations .feat-locations-wrapper .itre-location-wrapper:nth-child(2n) h3 {
    text-align: right;
  }
}
@media (min-width: 768px) {
  #itre-featured-locations .feat-locations-wrapper .itre-location-wrapper:nth-child(n+3) h3 {
    text-align: right;
    position: relative;
  }
  #itre-featured-locations .feat-locations-wrapper .itre-location-wrapper:nth-child(n+3) h3:before {
    content: "";
    position: absolute;
    right: -20px;
    top: 25%;
    border-left: solid 10px var(--accent);
    border-right: solid 10px transparent;
    border-top: solid 10px transparent;
    border-bottom: solid 10px transparent;
  }
}
#itre-featured-locations .feat-locations-wrapper .itre-location-item {
  background-color: var(--accent);
}

#itre-agents .itre-agent-wrapper, body.page-template-template-team #primary .itre-agent-wrapper {
  margin-bottom: 1.6em;
}
@media (min-width: 992px) {
  #itre-agents .itre-agent-wrapper, body.page-template-template-team #primary .itre-agent-wrapper {
    margin-bottom: 0;
  }
}
#itre-agents .itre-agent, body.page-template-template-team #primary .itre-agent {
  border-radius: var(--border-radius);
  overflow: hidden;
}
#itre-agents .itre-agent .itre-agent-info, body.page-template-template-team #primary .itre-agent .itre-agent-info {
  padding: 0.4em 0.6em;
  background-color: #f5f5f5;
}
#itre-agents .itre-agent h3, body.page-template-template-team #primary .itre-agent h3 {
  margin-top: 0.25em;
  margin-bottom: 0;
}
#itre-agents .itre-agent .agent-job, body.page-template-template-team #primary .itre-agent .agent-job {
  margin: 0;
  color: var(--accent);
}
#itre-agents .itre-agent .agent-desc, body.page-template-template-team #primary .itre-agent .agent-desc {
  font-size: 0.85em;
  line-height: 1.5em;
  color: #aaaaaa;
}
#itre-agents .itre-agent .agent-social, body.page-template-template-team #primary .itre-agent .agent-social {
  margin: 0.75em auto;
}
#itre-agents .itre-agent .agent-social span, body.page-template-template-team #primary .itre-agent .agent-social span {
  font-size: 1em;
}

body.page-template-template-team {
  text-align: center;
}
body.page-template-template-team article {
  margin-bottom: 1.4em;
}
body.page-template-template-team article .itre-agent .agent-thumb {
  overflow: hidden;
}
body.page-template-template-team article .itre-agent .agent-thumb img {
  filter: grayscale(1);
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}
body.page-template-template-team article .itre-agent:hover .agent-thumb img {
  filter: grayscale(0);
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

#itre-testimonials {
  text-align: center;
}
#itre-testimonials .itre-testimonial, #itre-testimonials img {
  margin: auto;
}
#itre-testimonials .testimonials-wrapper {
  margin-top: 2em;
}
#itre-testimonials .test-author-thumb img {
  border-radius: 50%;
  width: 100px;
}
#itre-testimonials h3 {
  font-size: 1.5em;
  margin-top: 0.4em;
  margin-bottom: 0;
  color: var(--accent);
}
#itre-testimonials .test-info {
  margin: 0;
}
#itre-testimonials .test-text {
  color: #555555;
  margin: 0;
  padding-left: 1.5em;
  padding-right: 1.5em;
  line-height: 1.5em;
}

.wpcf7 label, .wpcf7 span:not(.wpcf7-list-item):not(.wpcf7-list-item-label) {
  width: 100%;
}
.wpcf7 label > input:not([type=checkbox]):not([type=radio]), .wpcf7 label > select, .wpcf7 span:not(.wpcf7-list-item):not(.wpcf7-list-item-label) > input:not([type=checkbox]):not([type=radio]), .wpcf7 span:not(.wpcf7-list-item):not(.wpcf7-list-item-label) > select {
  width: 100%;
}
/**
 *	Styling for the Pagination
 */
.itre-pagination {
  width: 100%;
  font-size: 1.2em;
  padding-top: 2em;
  color: var(--accent);
}
.itre-pagination .nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.itre-pagination .nav-links > * {
  display: inline-block;
}
.itre-pagination > * {
  display: inline-block;
}
.itre-pagination a {
  color: var(--accent);
  text-align: center;
}
.itre-pagination a {
  display: inline-block;
  position: relative;
  margin: 0;
  color: var(--accent);
  width: 50px;
  z-index: 1;
}
.itre-pagination a:hover:before {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.itre-pagination a:active:before {
  transform: scale(1.04);
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -o-transform: scale(1.04);
}
.itre-pagination span.current {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 48px;
  height: 48px;
  color: white;
}
.itre-pagination span.current:before {
  content: "";
  position: absolute;
  background-color: var(--accent);
  border-radius: 50%;
  height: 100%;
  width: 100%;
  bottom: 2px;
  z-index: -1;
}

article.type-post, article.type-page {
  margin-bottom: 1.8em;
}
article.type-post[class^=col-] .listing-wrapper, article.type-page[class^=col-] .listing-wrapper {
  flex-direction: column;
  background-color: white;
  margin-bottom: 1.6em;
}
article.type-post[class^=col-] h2, article.type-page[class^=col-] h2 {
  font-size: 1.5em;
  margin: 0.35em auto;
}
article.type-post[class^=col-] h2 a, article.type-page[class^=col-] h2 a {
  color: black;
}
article.type-post[class^=col-] .itre-col-wrapper, article.type-page[class^=col-] .itre-col-wrapper {
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: var(--border-radius);
  overflow: hidden;
  height: 100%;
}
article.type-post[class^=col-] .itre-col-wrapper > *:not(.itre-col-thumb), article.type-page[class^=col-] .itre-col-wrapper > *:not(.itre-col-thumb) {
  padding: 0 0.6em;
}
article.type-post[class^=col-] .entry-content, article.type-page[class^=col-] .entry-content {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
article.type-post[class^=col-] .entry-meta > *:first-child, article.type-page[class^=col-] .entry-meta > *:first-child {
  margin-left: 0;
}
article.type-post[class^=col-] .entry-content, article.type-page[class^=col-] .entry-content {
  margin-top: 0;
  margin-bottom: 0.6em;
}
article.type-post[class^=col-] .itre-read-more, article.type-page[class^=col-] .itre-read-more {
  margin-top: auto;
  margin-bottom: 1em;
}
article.type-post[class^=col-] .itre-read-more a, article.type-page[class^=col-] .itre-read-more a {
  text-transform: uppercase;
  margin: 0.4em auto 1em;
}
article.type-post[class^=col-].col-md-6 h2, article.type-page[class^=col-].col-md-6 h2 {
  font-size: 1.5em;
}

article.classic {
  text-align: center;
}
article.classic .post-thumbnail img {
  margin: 0.8em auto;
  border-radius: var(--border-radius);
}
article.classic .entry-content {
  margin-top: 0.5em;
}

.entry-title a {
  color: var(--body-text);
}

.entry-content {
  word-wrap: wrap;
}

.entry-meta, footer.entry-footer, .comment-meta {
  color: var(--accent);
  margin: 0.8em auto;
}
.entry-meta > *, footer.entry-footer > *, .comment-meta > * {
  display: inline-block;
  margin-right: 0.5em;
}
.entry-meta a, footer.entry-footer a, .comment-meta a {
  margin-right: 0.25em;
}
.entry-meta span, footer.entry-footer span, .comment-meta span {
  margin-right: 0.8em;
}
.entry-meta i, footer.entry-footer i, .comment-meta i {
  display: inline-block;
  font-size: 1.3em;
  position: relative;
  top: 1px;
  margin-right: 5px;
}
.entry-meta a:not(.post-edit-link), footer.entry-footer a:not(.post-edit-link), .comment-meta a:not(.post-edit-link) {
  color: var(--link);
}
.entry-meta a:not(.post-edit-link):hover, footer.entry-footer a:not(.post-edit-link):hover, .comment-meta a:not(.post-edit-link):hover {
  color: var(--link-hvr);
}

article.list .entry-meta > * {
  margin-left: 0.2em;
  margin-right: 1.4em;
}
article.list a img {
  border-radius: var(--border-radius);
}
article.list .entry-content {
  margin-top: 0;
}
article.list .itre-read-more {
  margin-top: auto;
}
article.list .itre-read-more a:hover {
  text-decoration: none;
}
article.list .itre-list-content-wrapper {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=main.css.map */
