//Styling for Classic Layout

article.classic {
    text-align: center;
    .post-thumbnail img {
        margin: 0.8em auto;
        border-radius: var(--border-radius);
    }
    .entry-content {
        margin-top: 0.5em;
    }
}
