article.type-post, article.type-page {
    margin-bottom: 1.8em;
    &[class^='col-'] {
        .listing-wrapper {
            flex-direction: column;
            background-color: white;
            margin-bottom: 1.6em;
        }
        h2 {
            font-size: 1.5em;
            margin: 0.35em auto;
            @extend %regular;
            a {
                color: black;
            }
        }
        .itre-col-wrapper {
            display: flex;
            flex-direction: column;
            box-shadow: $shadow1;
            border-radius: var(--border-radius);
            overflow: hidden;
            height: 100%;
            > *:not(.itre-col-thumb) {
                padding: 0 0.6em;
            }
        }
        .entry-content {
            @include line-clamp(3);
        }
        .entry-meta {
            > * {
                &:first-child {
                    margin-left: 0;
                }
            }
        }
        .entry-content {
            margin-top: 0;
            margin-bottom: 0.6em;
        }
        .itre-read-more {
            margin-top: auto;
            margin-bottom: 1em;
            a {
                text-transform: uppercase;
                margin: 0.4em auto 1em;
                @extend %bold;
            }
        }
        &.col-md-6 {
            h2 {
                font-size: 1.5em;
            }
        }
    }
}
